<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <title>main
  </title>

  <style>
    body {font-family: Arial, Helvetica, sans-serif;}

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
  
</head>

<body>
  <!-- HTML Code -->

  <div class="container flex-column d-flex align-items-center"
    style="position: absolute;width: 228px;  height: 712px;  left: 0px;  top: 0px;  background:#EDFFE1;">
    <div>
      <div class="p-2 bd-highlight">
        <h1><i class="bi bi-person-lines-fill"></i></h1>
      </div>
    </div>

    <div class="card" style="width: 200px; height: 60px; background: #CBFFB6;
    border-radius: 100px;">
      <div class="card-body">
        <i class="bi bi-check-circle-fill"></i> 일정
        <!--        <span class="badge bg-dark"> +100</span>-->
      </div>
    </div>

<!--    <div>-->
<!--      <div class="position-relative top-0 end-0 mt-2 me-2">-->
<!--        <div id = "user-card" class="card m-3">-->
<!--          <div class="d-inline-flex align-items-center m-1 p-1">-->
<!--            <i class="bi bi-person-fill mx-2"></i>-->
<!--            <div class="ms-2 me-4">-->
<!--              <span id="username">User1</span>-->
<!--              <br>-->
<!--              <span id="userid">안녕하세요</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="mt-auto p-2"> -->
<!--      <button type="button" id="logout-button" class="btn btn-light" style="width: 182px; height: 40px;">로그아웃</button>-->
<!--    </div>-->

  </div>
  <div id="scheduleList" class="container flex-column d-flex align-items-center" style=" display: flex;flex-direction: column;align-items: flex-start;padding: 0px;position: absolute;
  width: 652px;height: 500px;left: 324px;top: 84px;background: #F7FFEE;">

<!--    script for init (cookie, get schedule)-->
<!--    <script>-->
<!--      -->
<!--      -->
<!--      $(document).ready(function(){-->
<!--        var scheduleList_HTML = document.getElementById("scheduleList");-->
<!--        var logout_button = document.getElementById("logout-button");-->
<!--        logout_button.addEventListener("click", function(){-->
<!--          axios({-->
<!--            method : "get",-->
<!--            url:"/logout"-->
<!--          }).then(function (req){-->
<!--            //TODO : Check whether cookie has successfully deleted-->
<!--            console.log("successfully logout");-->
<!--            location.href='/login';-->
<!--          }).catch(function (req){-->
<!--            console.log("Error on logout")-->
<!--          });-->
<!--        })-->
<!--        let cookie = document.cookie.split(';').reduce((cookieObject, cookieString) => {-->
<!--          let splitCookie = cookieString.split('=')-->
<!--          try {-->
<!--            cookieObject[splitCookie[0].trim()] = decodeURIComponent(splitCookie[1])-->
<!--          } catch (error) {-->
<!--            cookieObject[splitCookie[0].trim()] = splitCookie[1]-->
<!--          }-->
<!--          return cookieObject-->
<!--        }, [])-->
<!--        const userToken = cookie["token"]-->
<!--        const uid = cookie["uid"]-->
<!--        -->
<!--        var username_span = document.getElementById("username");-->
<!--        username_span.textContent = uid;-->
<!--        username_span.className = "font-weight-bold"-->
<!--        axios({-->
<!--          method: "get",-->
<!--          url:"/user/getschedule/"+uid,-->
<!--        }).then(function(req)-->
<!--        {-->
<!--          var scheduleRequest = req.data['scheduleList']; // List of Json-->
<!--          for (var i = 0 ; i < scheduleRequest.length ; i++)-->
<!--          {-->
<!--            var singleSchedule = scheduleRequest[i];-->
<!--            var singleScheduleName = singleSchedule["name"];-->
<!--            var singleScheduleDate = singleSchedule["sched_day"];-->
<!--            var btn = document.createElement("button");-->
<!--            btn.className = 'btn btn-outline-dark float-start col-12 mt-1 mb-2';-->
<!--            btn.id = singleSchedule["schedule_id"];-->
<!--            var t = document.createTextNode(singleScheduleName +"  ("+singleScheduleDate+")");-->
<!--            btn.addEventListener("click", function()-->
<!--            {-->
<!--              var url= window.location.href;-->
<!--              url = url.slice(0, url.lastIndexOf('/'))+"/schedule/sched/"+this.id;-->
<!--              location.href = url;-->
<!--            })-->
<!--            btn.appendChild(t);-->
<!--            scheduleList_HTML.append(btn);-->
<!--          }-->
<!--        }).catch(function(req)-->
<!--        {-->
<!--          console.log("error", req);-->
<!--        });-->

<!--      });-->
<!--      </script>-->
    

  </div>
  <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="input-group">
      <input type="text" class="form-control" id="join-schedule-id" aria-label="Sizing example input" placeholder="ID"
             aria-describedby="inputGroup-sizing-lg">
      <button type="button" id="finish-enter-button" class="btn btn-primary">입력 완료</button>
    </div>
    </div>
  </div>
  <div class="btn-group" style="position: absolute; width: 96px;height: 96px;left: 1260px;top: 590px" role="group"
    aria-label="Button group with nested dropdown">

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        일정 추가 / 생성
      </button>
      <ul class="dropdown-menu">
        <li><a id= "schedule-add" class="dropdown-item" href="#">일정 추가</a></li>
        <li><a id = "schedule-create" class="dropdown-item" href="#">일정 생성</a></li>
        
      </ul>
    </div>
  </div>
  <!--    script for participating new group or make group -->
  <div class="container d-flex align-items-center justify-content-between" style="position: absolute;width: 400px;height: 100px;left: 1000px;top: 100px;background: #F7FFEE;
  border: 1px solid #CAC4D0;border-radius: 12px;">

    <h1><i class="bi bi-person-circle"></i></h1>&nbsp;&nbsp;
    <div>
      <strong id = "username">사용자이름</strong>
      <p>

      </p>
      <p>
        안녕하세요
      </p>
    </div>
    <div class="justify-content-end">
      <button id = "logout-button" type="button" class="btn btn-primary">로그아웃</button>
      <script>
        var logout_button = document.getElementById("logout-button");
        logout_button.addEventListener("click", function(){
          axios({
            method : "get",
            url:"/logout"
          }).then(function (req){
            //TODO : Check whether cookie has successfully deleted
            console.log("successfully logout");
            location.href='/login';
          }).catch(function (req){
            console.log("Error on logout")
          });
        })
      </script>
<!--      <script>-->
<!--        $("#logout-button").validate({-->
<!--          submitHandler: (form) => {-->
<!--            $.ajax({-->
<!--              url: "login",-->
<!--              method: "POST",-->
<!--              dataType: "json",-->
<!--              data: {-->
<!--                uid: $(form).find('#uid').val(),-->
<!--                password: $(form).find('#password').val(),-->
<!--              },-->
<!--              success: (res) => {-->
<!--                if (res.accessToken) {-->
<!--                  document.cookie = `token=${res.accessToken}`;-->
<!--                  document.cookie = `uid = ${res.uid}`;-->
<!--                  window.location.href = '/user';-->
<!--                }-->
<!--              }-->
<!--            })-->
<!--          }-->
<!--        });-->
<!--      </script>-->
    </div>

  </div>
  <script>
    var scheduleList_HTML = document.getElementById("scheduleList");
    // var logout_button = document.getElementById("logout-button");
    // logout_button.addEventListener("click", function(){
    //   axios({
    //     method : "get",
    //     url:"/logout"
    //   }).then(function (req){
    //     //TODO : Check whether cookie has successfully deleted
    //     console.log("successfully logout");
    //     location.href='/login';
    //   }).catch(function (req){
    //     console.log("Error on logout")
    //   });
    // })

    $(document).ready(function(){

      let cookie = document.cookie.split(';').reduce((cookieObject, cookieString) => {
        let splitCookie = cookieString.split('=')
        try {
          cookieObject[splitCookie[0].trim()] = decodeURIComponent(splitCookie[1])
        } catch (error) {
          cookieObject[splitCookie[0].trim()] = splitCookie[1]
        }
        return cookieObject
      }, [])
      const userToken = cookie["token"]
      const uid = cookie["uid"]

      var username_span = document.getElementById("username");
      username_span.textContent = uid;
      username_span.className = "font-weight-bold"
      axios({
        method: "get",
        url:"/user/getschedule/"+uid,
      }).then(function(req)
      {
        var scheduleRequest = req.data['scheduleList']; // List of Json
        console.log(scheduleRequest);
        for (var i = 0 ; i < scheduleRequest.length ; i++)
        {
          var singleSchedule = scheduleRequest[i];
          var singleScheduleName = singleSchedule["name"];
          var singleScheduleDate = singleSchedule["sched_day"];
          var btn = document.createElement("button");
          btn.className = 'btn btn-outline-dark float-start text-start col-12 mt-1 mb-2';
          btn.id = singleSchedule["schedule_id"];
          var t1 = document.createTextNode(singleScheduleName);
          var t2 = document.createTextNode(singleScheduleDate);
          var br = document.createElement("br");
          btn.addEventListener("click", function()
          {
            var url= window.location.href;
            url = url.slice(0, url.lastIndexOf('/'))+"/schedule/sched/"+this.id;
            location.href = url;
          })
          btn.appendChild(t1);
          btn.appendChild(br);
          btn.appendChild(t2);
          scheduleList_HTML.append(btn);
        }
      }).catch(function(req)
      {
        console.log("error", req);
      });

    });
  </script>

  <script>
    var add = document.getElementById("schedule-add");
    var create = document.getElementById("schedule-create");
    
    create.addEventListener("click", function(){
      var url= window.location.href;
      url = url.slice(0, url.lastIndexOf('/'))+"/make_schedule";
      location.href = url;    
    })
  </script>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("schedule-add");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    var finEnterBtn = document.getElementById("finish-enter-button");
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    finEnterBtn.onclick = function(){
      let cookie = document.cookie.split(';').reduce((cookieObject, cookieString) => {
        let splitCookie = cookieString.split('=')
        try {
          cookieObject[splitCookie[0].trim()] = decodeURIComponent(splitCookie[1])
        } catch (error) {
          cookieObject[splitCookie[0].trim()] = splitCookie[1]
        }
        return cookieObject
      }, [])
      const userToken = cookie["token"]
      const userid = cookie["uid"]
      axios({
        method : "post",
        url:"/user/joinSchedule",
        data:{
          schedule_id : document.getElementById("join-schedule-id").value,
          uid: userid
        }
      }).then(function (req){
        //TODO : Check whether cookie has successfully deleted
        document.location.reload();

      }).catch(function (req){
        console.log("Error on logout")
      });
      modal.style.display="none";
    }

  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

</body>

</html>